<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <table class="table table-white">
        <thead>
          <tr>
            <p class ="text-center h2">フォロー一覧</p>
          </tr>
        </thead>
        <tbody>
          <%= render "follow", customers: @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>  