<div class="row">
  
  <div class="col-3">
    <h1>投稿者一覧</h1>
  </div>
  
  <div class="col-9">
    <% @customers.each do |customer| %>
      <%= link_to customer_path(customer) do %>
        <p><%= customer.name %></p>
      <% end %>
    <% end %>
  </div>
  
</div>