<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="text-center h3">
        <% if params[:name].present?%>
          <div><%= params[:name]%>の検索結果</div>
        <% else %>
          <div><%= params[:ride_area]%>の温泉 検索結果</div>
        <% end %>
      </div>
        <%= render "index",posts: @posts%>
      <ul class="pagination justify-content-center">
      <%= paginate @posts, theme: 'bootstrap-5' %>
      </ul>

    </div>
  </div>
</div>
