<div class="row">
  <div class="col-10">
    <div>
    <% @another_entries.each do |entry| %>
      <%= link_to room_path(entry.room.id) do %>
        <%= image_tag entry.customer.get_profile_image(50,50) %>
        <%= entry.customer.name %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>