<div class="row">
  <div class="col-10 jastify-content-center">
    <table class = table >
    <% @another_entries.each do |entry| %>
      <tbody>
        <tr>
            <td><%= image_tag entry.customer.get_profile_image(50,50), class:  "rounded-circle", size: "50x50" %></td>
            <td>
              <%= link_to room_path(entry.room.id) do %>
                <%= entry.customer.name %>
              <% end %>
            </td>
            <!--<td>ここに会話の最後のメッセージを入れたい</td>-->
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>

