<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag ("日記.png"), :size =>'200x200'%>
      <div class="card-body">
        <h5 class="card-title">温泉日記</h5>
        <p class="card-text">温泉に行った思い出などを書き込み、行った温泉の記録を残そう！！</p>
        <a href="#" class="btn btn-primary">参加する</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag ("コミュニティ.jpg"), :size =>'200x200'%>
      <div class="card-body">
        <h5 class="card-title">コミュニティ</h5>
        <p class="card-text">温泉が趣味の友人を増やすためフォローなどもすることが出来るよ！！</p>
        <a href="#" class="btn btn-primary">参加する</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag ("販売.jpg"), :size =>'200x200'%>
      <div class="card-body">
        <h5 class="card-title">温泉グッツ</h5>
        <p class="card-text">今後、サイトのアップロードで温泉グッツなども販売するから、このグッツを持っている人を温泉で見つけたら話しかけてあげてね！！</p>
        <a href="#" class="btn btn-primary">参加する</a>
      </div>
    </div>
  </div>
  
</div>