<div class="row">
  <div class="col-5">
    <%= image_tag "no_image.jpg", size: "300x250", alt: "ラーメン" %>
  </div>
  <div class="col-7">
    <%= image_tag "no_image.jpg", size: "300x250", alt: "ラーメン" %>
  </div>
</div>