<div class = "top">
  <div class="container">

    <div class="btn-wrapper col-6 mx-auto">
      <div class="row justify-content-center">
        <%= image_tag ("onsen.png"), :size =>'200x200'%>
      </div>
      <div class="row">
        <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to 'ログイン',new_customer_session_path, class: "btn btn-outline-primary btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to '新規登録',new_customer_registration_path, class: "btn btn-outline-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</div>