<div class="container">
  <div class="row">
    <h2>検索結果</h2>
    <% if @range == "顧客" %>
    <%= render "public/customers/index" ,customers: @customers%>
    <% else %>
    <%= render "public/posts/index" , posts: @posts ,customer: @customer%>
    <% end %>
  </div>
</div>