<div class="container">
  <div class="row justfy-content-center">
    <div class="col-8 text-center">
      <h3>通知<small><%= link_to "通知全消去", notification_path(@notifications), method: :delete%></small></h3>
      
      <% if @notifications.present? %>
          <div class="users-index">
              <%= render @notifications %>
          </div>
      <% else %>
          <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>